<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true">


<head>
    <meta charset="utf-8" />
    <title>Dashboard | OTE-Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="/images/O.png" type="text/png">

    <!-- Theme Config Js -->
    <script src="/js/hyper-config.js"></script>

    <!-- App css -->
    <link href="/css/app-modern.min.css" rel="stylesheet" type="text/css" id="app-style" />

    <!-- Icons css -->
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper">

        
        <!-- ========== Topbar Start ========== -->
        <div class="navbar-custom">
            <div class="topbar container-fluid">
                <div class="d-flex align-items-center gap-lg-2 gap-1">

                    <!-- Topbar Brand Logo -->
                    <div class="logo-topbar">
                        <!-- Logo light -->
                        <a href="/" class="logo-light">
                            <span class="logo-lg">
                                <img src="/images/OTE LOGO NEW.png" alt="logo">
                            </span>
                            <span class="logo-sm">
                                <img src="/images/OTE LOGO NEW.png" alt="small logo">
                            </span>
                        </a>

                        <!-- Logo Dark -->
                        <a href="/" class="logo-dark">
                            <span class="logo-lg">
                                <img src="/images/OTE LOGO NEW.png" alt="dark logo">
                            </span>
                            <span class="logo-sm">
                                <img src="/images/OTE LOGO NEW.png" alt="small logo">
                            </span>
                        </a>
                    </div>

                    <!-- Sidebar Menu Toggle Button -->
                    <button class="button-toggle-menu">
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <!-- Horizontal Menu Toggle Button -->
                    <button class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>

                    <!-- Topbar Search Form -->
                    <div class="app-search dropdown d-none d-lg-block">
                        <form>
                            <div class="input-group">
                                <input type="search" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                                <span class="mdi mdi-magnify search-icon"></span>
                                <button class="input-group-text btn btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <ul class="topbar-menu d-flex align-items-center gap-3">
                    <li class="dropdown d-lg-none">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ri-search-line font-22"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                            <form class="p-3">
                                <input type="search" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                            </form>
                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="ri-notification-3-line font-22"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0">
                            <div class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0 font-16 fw-semibold"> Notification</h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                            <small>Clear All</small>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="px-2" style="max-height: 300px;" data-simplebar>

                                <!-- Notification backup data -->
                            
                            </div>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item border-top border-light py-2">
                                View All
                            </a>

                        </div>
                    </li>

                    <li class="d-none d-sm-inline-block">
                        <a class="nav-link" data-bs-toggle="offcanvas" href="#theme-settings-offcanvas">
                            <i class="ri-settings-3-line font-22"></i>
                        </a>
                    </li>

                    <li class="d-none d-sm-inline-block">
                        <div class="nav-link" id="light-dark-mode" data-bs-toggle="tooltip" data-bs-placement="left" title="Theme Mode">
                            <i class="ri-moon-line font-22"></i>
                        </div>
                    </li>


                    <li class="d-none d-md-inline-block">
                        <a class="nav-link" href="#" data-toggle="fullscreen">
                            <i class="ri-fullscreen-line font-22"></i>
                        </a>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow-none nav-user px-2" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <span class="account-user-avatar">
                                <img src="<%= image %>" alt="user-image" width="32" class="rounded-circle">
                            </span>
                            <span class="d-lg-flex flex-column gap-1 d-none">
                                <h5 class="my-0"><%= user.name %></h5>
                                <h6 class="my-0 fw-normal"><%= user.position %></h6>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated profile-dropdown">
                            <!-- item-->
                            <div class=" dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>

                            <!-- item-->
                            <a href="/account" class="dropdown-item">
                                <i class="mdi mdi-account-circle me-1"></i>
                                <span>My Account</span>
                            </a>

                            <!-- item-->
                            <a href="/" class="dropdown-item">
                                <i class="mdi mdi-account-edit me-1"></i>
                                <span>Settings</span>
                            </a>

                            <!-- item-->
                            <a href="/" class="dropdown-item">
                                <i class="mdi mdi-lifebuoy me-1"></i>
                                <span>Support</span>
                            </a>

                            <!-- item-->
                            <a href="/" class="dropdown-item">
                                <i class="mdi mdi-lock-outline me-1"></i>
                                <span>Lock Screen</span>
                            </a>

                            <!-- item-->
                            <a href="/logout" class="dropdown-item">
                                <i class="mdi mdi-logout me-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ========== Topbar End ========== -->

        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- Brand Logo Light -->
            <a href="index.html" class="logo logo-light">
                <span class="logo-lg">
                    <img src="images/logo.png" alt="logo">
                </span>
                <span class="logo-sm">
                    <img src="images/logo-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Brand Logo Dark -->
            <a href="index.html" class="logo logo-dark">
                <span class="logo-lg">
                    <img src="images/logo-dark.png" alt="dark logo">
                </span>
                <span class="logo-sm">
                    <img src="images/logo-dark-sm.png" alt="small logo">
                </span>
            </a>

            <!-- Sidebar Hover Menu Toggle Button -->
            <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
                <i class="ri-checkbox-blank-circle-line align-middle"></i>
            </div>

            <!-- Full Sidebar Menu Close Button -->
            <div class="button-close-fullsidebar">
                <i class="ri-close-fill align-middle"></i>
            </div>

            <!-- Sidebar -->
            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <!-- Leftbar User -->
                <div class="leftbar-user">
                    
                </div>

                <!--- Sidemenu -->
                <ul class="side-nav">
                    <li class="side-nav-item">
                        <a href="/admin" class="side-nav-link">
                            <i class="ri-home-2-line"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/employee" class="side-nav-link">
                            <i class="ri-task-line"></i>
                            <span> Employee </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/attendance" class="side-nav-link">
                            <i class="ri-survey-line"></i>
                            <span> Attendance </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/task" class="side-nav-link">
                            <i class="ri-task-line"></i>
                            <span> Task </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/project" class="side-nav-link">
                            <i class="uil-briefcase"></i>
                            <span> Project </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/chat" class="side-nav-link">
                            <i class="uil-comments-alt"></i>
                            <span> Chat </span>
                        </a>
                    </li>

                    <li class="side-nav-item">
                        <a href="/admin/calender" class="side-nav-link">
                            <i class="uil-calender"></i>
                            <span> Calender </span>
                        </a>
                    </li>  

                    <li class="side-nav-item">
                        <a href="/" class="side-nav-link">
                            <i class="ri-file-text-line"></i>
                            <span> Management </span>
                        </a>
                    </li>
                </ul>
                <!--- End Sidemenu -->

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- ========== Left Sidebar End ========== -->
        

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title">ERS</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Compaign</h5>
                                            <h3 class="my-2 py-1">0</h3>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">New Leads</h5>
                                            <h3 class="my-2 py-1">0</h3>
                                            
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Deals</h5>
                                            <h3 class="my-2 py-1">0</h3>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">Status</h5>
                                            <h3 class="my-2 py-1">Online</h3>
                                        </div>
                                        
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div>



                    <div class="row">
                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Total Employees</h5>
                                            <h3 class="my-2 py-1"><%= user.employee.length %></h3>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">Total Project</h5>
                                            <h3 class="my-2 py-1"><%= user.project.length %></h3>
                                            
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Total Task</h5>
                                            <h3 class="my-2 py-1">0</h3>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">productivity</h5>
                                            <h3 class="my-2 py-1">0%</h3>
                                        </div>
                                        
                                    </div> <!-- end row-->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="header-title">Running Project Status</h4>
                                </div>

                                <div class="card-body pt-0">
                                    <div id="dash-campaigns-chart" class="apex-charts" data-colors="#ffbc00,#727cf5,#0acf97"></div>

                                    <div class="row text-center mt-3">
                                        <div class="col-sm-4">
                                            <i class="ri-task-line widget-icon rounded-circle bg-warning-lighten text-warning"></i>
                                            <h3 class="fw-normal mt-3">
                                                <span>0</span>
                                            </h3>
                                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-warning"></i> Incomplate Project</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="ri-task-fill widget-icon rounded-circle bg-primary-lighten text-primary"></i>
                                            <h3 class="fw-normal mt-3">
                                                <span>0</span>
                                            </h3>
                                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Pending Project</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="mdi mdi-email-open widget-icon rounded-circle bg-success-lighten text-success"></i>
                                            <h3 class="fw-normal mt-3">
                                                <span>0</span>
                                            </h3>
                                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-success"></i>Complate Project</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body-->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col-->

                        <div class="col-lg-7">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="header-title">productivity</h4>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="chart-content-bg">
                                        <div class="row text-center">
                                            <div class="col-sm-6">
                                                <p class="text-muted mb-0 mt-3">Current Month</p>
                                                <h2 class="fw-normal mb-3">
                                                    <span>0</span>
                                                </h2>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="text-muted mb-0 mt-3">Previous Month</p>
                                                <h2 class="fw-normal mb-3">
                                                    <span>0</span>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div dir="ltr">
                                        <div id="dash-revenue-chart" class="apex-charts" data-colors="#0acf97,#fa5c7c"></div>
                                    </div>

                                </div>
                                <!-- end card body-->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col-->
                    </div>
                    <!-- end row-->


                    <div class="row">
                        <div class="col-xl-4 col-lg-12">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="header-title">Top Performing</h4>
                                </div>

                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                                            <thead>
                                                <tr>
                                                    <th>User</th>
                                                    <th>Leads</th>
                                                    <th>Deals</th>
                                                    <th>Tasks</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h5 class="font-15 mb-1 fw-normal">Anand Jethava</h5>
                                                        <span class="text-muted font-13">Full Stack Developer</span>
                                                    </td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                </tr>
                                            </tbody>
                                        </table>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="card card-h-100">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">Team Members</h4>
                                </div>

                                <div class="card-body py-0 mb-3" data-simplebar style="max-height: 104px;">
                                    <div class="d-flex align-items-start">
                                        <img class="me-3 rounded-circle" src="images/users/avatar-2.jpg" width="40" alt="Generic placeholder image">
                                        <div class="w-100 overflow-hidden">
                                            <h5 class="mt-0 mb-1 fw-semibold"><a href="javascript:void(0);" class="text-reset">Risa Pearson</a></h5>
                                            <ul class="list-inline mb-0 font-13">
                                                <li class="list-inline-item">UI/UX Designer</li>
                                                <li class="list-inline-item text-muted"><i class="mdi mdi-circle-small"></i></li>
                                                <li class="list-inline-item text-muted">2.5 Year Experience</li>
                                            </ul>
                                        </div>
                                        <span class="badge badge-success-lighten">Online</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="header-title">Todo</h4>
                                    <div class="dropdown float-end">
                                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                            <!-- item-->
                                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="todoapp">
                                    <div class="card-body py-0">
                                        <div class="row">
                                            <div class="col">
                                                <h5 id="todo-message"><span id="todo-remaining"></span> of <span id="todo-total"></span> remaining</h5>
                                            </div>
                                            <div class="col-auto">
                                                <a href="#" class="float-end btn btn-light btn-sm" id="btn-archive">Archive</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body py-0 mb-0" style="max-height: 298px;" data-simplebar>
                                        <ul class="list-group list-group-flush todo-list" id="todo-list"></ul>
                                    </div>

                                    <div class="card-body pt-2">
                                        <form name="todo-form" id="todo-form" class="needs-validation" novalidate>
                                            <div class="row">
                                                <div class="col">
                                                    <input type="text" id="todo-input-text" name="todo-input-text" class="form-control" placeholder="Add new todo" required>
                                                    <div class="invalid-feedback">
                                                        Please enter your task name
                                                    </div>
                                                </div>
                                                <div class="col-auto d-grid">
                                                    <button class="btn-primary btn-md btn waves-effect waves-light" type="submit" id="todo-btn-submit">Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!-- end .todoapp-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © FollowUp - Orionstechelite.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/js/vendor.min.js"></script>
    <script src="../vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/js/ui/component.todo.js"></script>
    <script src="../js/adminGraph.js"></script>
    <script src="/js/app.min.js"></script>
    <!-- <script src="/js/pages/demo.crm-dashboard.js"></script> -->
</body>
<script src="/js/notification.js"></script>
</html>